<!-- import Highcharts + Chartkick libraries -->
<script src="https://usetrmnl.com/js/highcharts/12.3.0/highcharts.js"></script>
<script src="https://usetrmnl.com/js/chartkick/5.0.1/chartkick.min.js"></script>

<!-- markup with empty, ID'd element for chart injection -->
<div class="view view--full">
  <div class="layout layout--col gap--space-between">
    <div class="grid grid--cols-4">
      {% render "apdex", IDX_2: IDX_2 %}
      {% render "misery", IDX_2: IDX_2 %}
      {% render "errors", IDX_0: IDX_0 %}
      {% render "issues", IDX_0: IDX_0 %}
    </div>

    <div class="grid grid--cols-3">
      <div id="chart-123" class="col--span-2 mt--4"></div>
      <table class="table table--small">
        <thead>
          <tr>
            <th><span class="title title--small">Count</span></th>
            <th><span class="title title--small">Transaction</span></th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in IDX_3.data %}
          <tr>
            <td><span class="label label--small">{{ transaction["count()"] }}</span></td>
            <td><span class="label label--small">{{ transaction.transaction }}</span></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% render "title_bar", IDX_4: IDX_4, trmnl: trmnl %}

</div>

{% render "error_chart", IDX_1: IDX_1, height: 260 %}
